.header {
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.18,) 0px 2px 4px;
  z-index: 1;
  &__content {
    width: 1020px;
    margin: 0 auto;
    padding-top: 8px;
    &__up {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      &__left {
        -webkit-box-align: center;
        display: flex;
        align-items: center;
        height: 40px;
        margin-right: 45px;
        a {
          color: inherit;
          text-decoration: none;
          img {
            height: 36px;
            width: 134px;
            vertical-align: middle;
          }
        }
      }
      &__right {
        width: 100%;
        position: relative;
        &__form {
          position: relative;
          width: 100%;
          &__search {
            height: 40px;
            line-height: 40px;
            position: relative;
            width: 100%;
            -webkit-appearance: none;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-image: initial;
            border-radius: 4px;
            outline: none;
            padding: 0 50px 0 10px;
            transition: all 0.3s ease-out 0s;
            &:focus{
              border-color: $sky_blue;
            }
          }
        }
        &__submit {
          width: 16px;
          height: 16px;
          line-height: 1.4em;
          cursor: pointer;
          position: absolute;
          right: 12px;
          top: 12px;
          font-size: 13px;
        }
      }
    }

  // -- category --

    &__bottom {
      margin-top: 8px;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      span {
        padding-right: 20px;
        font-weight: 550;
      }
      &__left {
        display: flex;
        margin-left: 0px;
        height: 44px;
        padding-top: 9px;
        i {
          color: $red;
        }
        a {
          color: $black;
          display: block;
          font-size: 14px;
          line-height: 35px;
          white-space: nowrap;
          color: inherit;
          text-decoration: none;
        }
        &__category {
          padding-left: 0px;
          position: relative;
          z-index: 5000;
          &:hover {
            span {
              color: $sky_blue;
            }
            ul {
              li {
                display: block;
                height: 40px;
              }
            }
          }
          ul {
            position: absolute;
            top: 35px;
            font-weight: normal;
            box-shadow: 0 2px 4px rgba(41, 29, 29, 0.18);
            li {
              color: $black;
              width: 220px;
              height: 0;
              padding-left: 10px;
              display: none;
              background-color: white;
              &:hover {
                background-color: red;
                color: white;
                .header__menu-box--left__children {
                  &__child {
                    display: block;
                    height: 30px;
                  }
                }
              }
              .header__menu-box--left__children {
                position: absolute;
                top: 0;
                left: 220px;
                z-index: 1000;
                height: 520px;
                background-color: white;
                &__child {
                  width: 220px;
                  height: 0;
                  display: none;
                  background-color: white;
                  &:hover {
                    background-color: #f3f3f3;
                    color: $black;
                    .header__menu-box--left__grand-children {
                      &__grand-child {
                        display: block;
                        height: 30px;
                      }
                    }
                  }
                  a {
                    font-size: 14px;
                  }
                  .header__menu-box--left__grand-children {
                    position: absolute;
                    top: 0;
                    left: 220px;
                    height: 520px;
                    background-color: white;
                    &__grand-child {
                      width: 300px;
                      height: 0;
                      display: none;
                      background-color: white;
                      a {
                        font-size: 14px;
                        &:hover {
                          background-color: #f3f3f3;
                          color: $black;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

  // -- category --

        &__brand {
          font-weight: 600;
          display: inline;
          ul {
            display: none;
          }
        } 
      }
      &__right {
        display: flex;
        &__signup {
          text-align: center;
          top: 0px;
          a {
            background-color: $red;
            border-color: $red;
            color: $white;
            text-decoration: none;
            display: block;
            border-width: 1px;
            border-style: solid;
            border-image: initial;
            border-radius: 4px;
            margin-bottom: 12px;
            padding: 0 10px;
            height: 32px;
            line-height: 32px;
            font-size: 14px;
          }
        }
        &__login {
          text-align: center;
          margin-left: 11px;
          a {
            background-color: $white;
            color: $sky_blue;
            font-size: 14px;
            display: block;
            border-width: 1px;
            border-style: solid;
            border-color: $sky_blue;
            border-image: initial;
            border-radius: 4px;
            padding: 5px 10px;
            transition: all 0.3s ease-out 0s;
          }
          a:hover {
            background-color: $sky_blue;
            color: $white;
          }
        }
      }
    }
  }
}